.highlights-item.popular-items-wrap.col-sm-12
  .themeum-default-wrapper.highlights-wrapper.themeum-overlay-wrap.yes
    = link_to tournament.slug_path do
      = image_tag tournament.main_image(:medium), class: %i(img-responsive wp-post-image)
    .themeum-default-intro.highlights-intro.themeum-overlay
      .themeum-overlay-inner
        - if tournament.category.present?
          %span.entry-category
            = link_to tournament.category.name, tournament.category.decorate.slug_path
        %h3.entry-title
          = link_to tournament.title, tournament.slug_path
          %span.entry-date
            = tournament.formatted_date
.clearfix